.footer {
    background: var(--gray-light);
    padding: 0.5rem;
    margin-top: 2rem;
    font-family: var(--font-name);

    & p {
        opacity: 0.3;
    }

    & strong {
        font-weight: 500;
    }
}
