.stepper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &:before,
    & .progress {
        content: '';
        position: absolute;
        background: var(--gray-light);
        width: 100%;
        height: 0.5rem;
        top: 50%;
        left: 0;
        margin-top: -0.25rem;
    }

    & .progress {
        background: var(--primary);
    }

    & button {
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
        background: var(--gray-light);
        text-align: center;
        text-decoration: none;
        position: relative;
        display: inline-block;
        line-height: 2.25;
        color: var(--font-color);
        z-index: 10;

        &.completed {
            background: var(--primary);
            color: white;
        }
    }
}
