/* Typeography */
h1,
h2,
h3,
h4,
h5 {
    font-weight: 700;
    margin-top: 0;
    line-height: 1;
    font-family: var(--font-name);
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.6rem;
}

h4,
.h4 {
    font-size: 1.25rem;
}

h5,
.h5 {
    font-size: 1rem;
}

.text-light {
    font-weight: 300;
}
