/* Variables */

:root {
	--font-color: #4a4a4a;
	--font-name: 'Source Sans Pro', 'Open sans', sans-serif;
	--primary: #5a1ba9;
	--gray: #C4C4C4;
	--gray-light: #f1f1f1;
	--danger: #D31335;
	--success: #7FA15A;
}
