/* Variables */

:root {
    --font-color: #4a4a4a;
    --font-name: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --primary: #5a1ba9;
    --gray: #c4c4c4;
    --gray-light: #f1f1f1;
    --danger: #d31335;
    --success: #7fa15a;
}
